#block {
  left: 20px;
  top: 180px;
  height: 200px;
  width: 200px;
  background-color: blue;
}

button {
  position: absolute;
  z-index: 10000;
}

.left {
  left: 0;
}

.right {
  left: 50px;
}

.container {
  position: absolute;
  top: 40px;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  transform-origin: center;
}

.rotation90 {
  -webkit-transform: rotate(90deg); /* Safari */
  -moz-transform: rotate(90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: rotate(90deg); /* IE9 */
  -o-transform: rotate(90deg); /* Opera */
  transform: rotate(90deg); /* W3C */
}

.rotation180 {
  -webkit-transform: rotate(180deg); /* Safari */
  -moz-transform: rotate(180deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: rotate(180deg); /* IE9 */
  -o-transform: rotate(180deg); /* Opera */
  transform: rotate(180deg); /* W3C */
}

.rotation270 {
  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg); /* Firefox 3.6 Firefox 4 */
  -ms-transform: rotate(-90deg); /* IE9 */
  -o-transform: rotate(-90deg); /* Opera */
  transform: rotate(-90deg); /* W3C */
}
