#block {
  left: 20px;
  top: 180px;
  height: 200px;
  width: 200px;
  background-color: blue;
}

.rot90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari prior 9.0 */
  transform: rotate(90deg); /* Standard syntax */
  transform-origin: center center;
}

.rot180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari prior 9.0 */
  transform: rotate(180deg); /* Standard syntax */
  transform-origin: center center;
}

.rot270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari prior 9.0 */
  transform: rotate(270deg); /* Standard syntax */
  transform-origin: center center;
}

.rot360 {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari prior 9.0 */
  transform: rotate(360deg); /* Standard syntax */
  transform-origin: center center;
}